.widget{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    flex:0.2;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid lightgray;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    padding-bottom: 10px;
}

.widget__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widget__header > h2{
    font-size: 16px;
    font-weight: 400;
}

.widget__article{
    display:flex;
    padding: 10px;
    cursor:pointer;
}

.widget__article:hover{
    background:whitesmoke;
}

.widget__articleLeft{
    color: blue;
    margin-right: 5px;
}

.widget__articleLeft>.MuiSvgIcon-root{
    font-size: 15px;
}

.widget__articleRight{
    flex:1;
}

.widget__articleRight > h4{
    font-size: 14px;
}

.widget__articleRight > p{
    font-size: 13px;
    color:gray;
}